$color-coral: #FA824C;
$color-gray-spanish: #989797;
$color-flame: #E4572E;
$color-yellow: #EACB31;
$color-gray-light: #EEEDED;
$color-green: #4CA866;
$color-blue: #3C91E6;
$font-family_PT-Mono: "PT Mono", monospace;
$font-family_Roboto: "Roboto", sans-serif;
$size-70: 70px;
$size-40: 40px;
$size-30: 30px;
$size-18: 18px;
$size-16: 16px;