*,
body {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  align-items: center;

  &__img {
    width: 75%;
  }

  &__name {
    width: 25%;
    justify-content: center;

    .name__title {
      font-family: $font-family_PT-Mono;
      font-weight: $font-weight_Regular;
      font-size: $size-70;
      margin: 0rem 4rem;
    }

    .name__subtitle {
      font-family: $font-family_Roboto;
      font-weight: $font-weight_Light;
      font-size: $size-30;
      margin: 2rem 4rem;
    }
  }
}

/* Middle Section Pending */

.article {
  display: grid;
  grid-template-areas:
    "left center right";
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  align-items: center;

  .article__left {
    grid-area: left;
    margin: 3rem 0rem;

    .article__left--paragraph {
      margin: 0rem 3rem;
      width: 20rem;

      .paragraph__title {
        font-family: $font-family_PT-Mono;
        font-weight: $font-weight_Regular;
        font-size: $size-30;
      }

      .paragraph__text {
        font-family: $font-family_Roboto;
        font-weight: $font-weight_Light;
        font-size: $size-16;
      }
    }

  }

  .article__center {
    grid-area: center;

    .center-img {
      width: 500px;
      height: 250px;
      background-image: url('../img/img-4.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .article__right {
    grid-area: right;
    width: 120px;
    height: 200px;
    background-image: url('../img/img-3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .right-img {
      background-image: url('../img/img-2.png');
      width: 300px;
      height: 100px;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}